
{% block body %}



<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <div class="conatiner-fluid px-0">

    <title>Covid Resources India</title>
</head>

<style>
  h1 {
    font-family: "Times New Roman", Times, serif;
  }



  H2 {
    font-family: "Times New Roman", Times, serif;
  }


  h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
  }

  .form-control {
    border-radius: 10px;
  }

  .text-white {
    color: white !important;
  }
</style>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>


<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COVID Resources India</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Resources</a>

        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/updates">Updates</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/plasma">Plasma</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>

      </ul>


      <div class="mx-2">

        <a class="btn btn-outline-warning my-2 my-sm-0 " type="submit" href="/home">Log Out </a><i class="fa fa-sign-in"
          aria-hidden="true"></i>
      </div>




    </div>



    </div>

  </nav>


  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li><a href="/map" class="nav-link px-2 link-dark">Map</a></li>
      <li><a href="/plasma" class="nav-link px-2 link-dark">Plasma Donation</a></li>
      <li><a href="/requestplasma" class="nav-link px-2 link-dark">Request Plasma</a></li>
      <li><a href="Vaccination.html" class="nav-link px-2 link-dark">Vaccination</a></li>
      <li><a href="Donate.html" class="nav-link px-2 link-dark">Donate</a></li>
    </ul>

    <div class="col-md-3 text-end">


    </div>

    <br>
    <div class="container text-center">
      <div class="alert alert-info" role="alert">
          All contributions made towards PM Cares fund is eligible for CSR!
      </div>
  </div>
  <div class="container text-center">
      <div class="alert alert-info" role="alert">
          All contributions towards CMRF's Relief Fund are exempted from Income Tax under section 80(G).
      </div>
  </div>
  <br>
  <div class="container text-center">
      <div class = "row">
          <div class="col-sm-12">
            <a class="btn btn-danger" href="https://www.investindia.gov.in/bip/resources/list-ngos-providing-relief-during-covid-19" role="button" target="container">Click here</a> to view the list of NGOs providing relief during covid-19

          </div>
      </div>
  </div>
  <br>
  <!--Cards for contribute-->
  <div class="container text-center">
      <div class="row">
          <div class="col-sm-2">
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title">PM Cares Fund</h5><br>
                  <a href="https://www.pmcares.gov.in/en/" class="btn btn-dark" target="window1">DONATE</a>
              </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Maharashtra</h5><br>
                  <a href="https://cmrf.maharashtra.gov.in/CMRFCitizen/DonationOnlineForm.action" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Karnataka</h5><br>
                  <a href="https://cmrf.karnataka.gov.in/English/index.html" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Gujarat</h5><br>
                  <a href="https://iora.gujarat.gov.in/cmrf/" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Assam</h5><br><br>
                  <a href="https://cm.assam.gov.in/relieffund.php" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Madhya Pradesh</h5>
                  <a href="http://mponline.gov.in/Portal/Services/CMRF/index.html" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>

  <div class="container text-center">
      <div class="row">
          <div class="col-sm-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CMRF Kerala</h5><br>
                <a href="https://donation.cmdrf.kerala.gov.in/" class="btn btn-primary" target="window1">DONATE</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Tamil Nadu</h5>
                  <a href="https://ereceipt.tn.gov.in/cmprf/Cmprf" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Telangana</h5>
                  <a href="https://telangana.gov.in/cm-relief-fund" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Rajasthan</h5>
                  <a href="https://cmrelief.rajasthan.gov.in/Covid-19.aspx" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Uttar Pradesh</h5>
                  <a href="http://upcmo.up.nic.in/drf.htm" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Bihar</h5><br>
                  <a href="http://mponline.gov.in/Portal/Services/CMRF/index.html" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="container text-center">
      <div class="row">
          <div class="col-sm-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CMRF Chattisgarh</h5><br>
                <a href="http://cmrf.cg.gov.in/" class="btn btn-primary" target="window1">DONATE</a>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF West Bengal</h5><br>
                  <a href="http://wbcmo.gov.in/donation.aspx" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Punjab</h5><br>
                  <a href="https://cmrf.punjab.gov.in/" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Himachal Pradesh</h5>
                  <a href="https://cmhimachal.nic.in/" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Arunachal Pradesh</h5>
                  <a href="http://www.arunachalpradesh.gov.in/cm-relief-fundcmrf/" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-2">
              <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">CMRF Uttarakhand</h5><br>
                  <a href="https://cmrf.uk.gov.in/" class="btn btn-primary" target="window1">DONATE</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br>










</body>

</html>
{% endblock %}
