<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <title>COVID Resources India</title>
</head>
<style>
    html {
        scroll-behavior: smooth;
    }

    #div3 {
        transition: width 2s, height 2s, transform 2s;
    }

    #div1:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    #div1 {
        transition: width 2s, height 2s, transform 2s;
    }

    #div2:hover {

        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    #div2 {
        transition: width 2s, height 2s, transform 2s;
    }

    #div3:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
</style>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">COVID Resources India</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/">Resources</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                  


                    <li class="nav-item">
                        <a class="nav-link" href="/updates">Updates</a>
                      </li>



                    <li class="nav-item active">
                        <a class="nav-link" href="/map">Map</a>
                    </li>

                </ul>



                <div class="mx-2">

                    <a class="btn btn-outline-warning my-2 my-sm-0 " type="submit" href="/home">Log Out </a><i
                      class="fa fa-sign-in" aria-hidden="true"></i>
                  </div>



                <form class="form-inline mt-2 mt-md-0">

                    <a href="#sec" class="btn btn-outline-success my-2 my-sm-0" type="submit">Delhi centers</a>
                </form>


            </div>

            </div>
        </nav>

        


    </header>
    <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li><a href="/map" class="nav-link px-2 link-dark">Map</a></li>
      <li><a href="/plasma" class="nav-link px-2 link-dark">Plasma Donation</a></li>
      <li><a href="/requestplasma" class="nav-link px-2 link-dark">Request Plasma</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Vaccination</a></li>
      <li><a href="/donate" class="nav-link px-2 link-dark">Donate</a></li>
    </ul>

    <div class="col-md-3 text-end">


    </div>
  </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="color:rgb(24, 112, 64);">Corona vaccine Centers</h1>
                <p class>Total 38 private and 37 government hospitals have been finalised where the
                    Covid immunization would inaugurate in the city. However, the vaccination points will be scaled-up
                    in the coming weeks as the vaccination drive progresses.</p>
                <p>
                    <a href="https://news.google.com/covid19/map?hl=en-IN&mid=%2Fm%2F09f07&gl=IN&ceid=IN%3Aen"
                        target="_blank" rel="noopener noreferrer" class="btn btn-primary my-2">Check</a>
                    <a href="#sec" class="btn btn-dark my-2">Center</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">


                    <hr class="featurette-divider">

                    <div class="row featurette mb-4">
                        <div class="col-md-7 ">
                            <h2 class="featurette-heading">  COVID Testing Centres <span class="text-muted">Antigen
                                    Detection Test Centers for COVID-19.</span></h2>
                            <p>Central District<br>

                                Hotel Apra Inn, 15A/61 WEA Colony, Ajmal Khan Road, Karol Bagh<br>
                                📞+911147323421
                                East District <br>

                                Swami Parmanand Prakritik Chikitsalaya Yoga & Anushandhan Kendra, West Vinod Nagar<br>
                                📞+911122478881<br>
                                North District<br>

                                Shrine Hospital, Main Bawana Road, Sector 17, Rohini (connected with MVH Hospital)<br>
                                North West District<br>

                                Maharaja Agrasen Bhawan CS Pocket 12, Rithala Road, Sector 5, Rohini
                                Khosla Hospital, Shalimar Bagh<br>
                                📞+911127479501<br>
                                Shri Satnam Bhawan, Block C3, Phase 2, Ashok Vihar, Delhi
                                Quarantine Facility, DUSIB Flats, ES Block, Sultan Puri
                                Prime Stay B & B, Haiderpur, Shalimar Bagh<br>
                                Shahdara District<br>

                                Hotel Park, Shahdara,<br>
                                📞+911145630000
                                South District<br>

                                .</p>

                        </div>

                        <div class="col-md-5 ">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112078.90237332754!2d77.15985963415078!3d28.61580155483053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1613235330245!5m2!1sen!2sin"
                                width="500" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                            <a href="https://delhifightscorona.in/testing/" class="btn btn-success my-2"> Test
                                Centers</a><br>
                            <br>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow" id="div2">
                            <img class="card-img-top" src="https://source.unsplash.com/400x200/?corona vaccine"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Delhi records 126 coronavirus cases, no deaths in last 24 hours
                                    Delhi recorded as many as 126 fresh coronavirus cases on Saturday. With this,
                                    the
                                    tally of COVID-19 cases in the national capital has reached over 6.36 lakh,
                                    while
                                    the death toll mounted to 10,889.></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://www.indiatvnews.com/news/india/delhi-coronavirus-cases-delhi-covid-19-death-toll-684693"
                                            class="btn btn-primary my-2">View</a>


                                    </div>
                                    <small class="text-muted">2 Hours</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">



                        <div class="card mb-4 box-shadow" id="div1">

                            <iframe width="349" height="225" src="https://www.youtube.com/embed/5zs66WQeJRY"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                            <div class="card-body">
                                <p class="card-text">As many as 100 people will be vaccinated at each of these
                                    locations
                                    per day, Delhi Chief Minister Arvind Kejriwal had announced on Thursday..</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="https://www.youtube.com/embed/5zs66WQeJRY"
                                            class="btn btn-primary my-2">View</a>

                                    </div>
                                    <small class="text-muted">40 mins</small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow" id="div3">
                            <img class="card-img-top" src="https://source.unsplash.com/400x200/?corona vacci"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Two days ahead of the massive coronavirus inoculation drive,
                                    authorities have released a list of 81 sites that will be part of the
                                    immunisation
                                    exercise in the national capital, with a senior official saying Covishield will
                                    be
                                    administered at 75 centres, while Covaxin will be given at the remaining six
                                    facilities.
                                    .</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <a href="https://www.livemint.com/news/india/covid-vaccination-in-delhi-75-sites-for-covishield-6-for-covaxin-full-list-11610686863670.html"
                                        class="btn btn-primary my-2">View</a>

                                    <small class="text-muted">10mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <h2 class="text-center text-capitalize pt-5" id="sec">vaccination centres in Delhi</h2>

        <hr class="w-25 mx-auto" style="border-width:4; background-color:hsl(39, 100%, 60%)">
        <div class="container mx-auto">
            <iframe src="https://www.google.com/maps/d/embed?mid=1Hfse3CJC2_LN1KJuo6ZFWGJllKO68P-D" width="100%"
                height="480"></iframe>
        </div>



















    </main>


    <hr>




    <footer class="blog-footer">
        <div class="container">
            <p class="float-right">
                <a href="#"><img src="/static/img/logo.jpg" alt="HTML tutorial" style="width:90px;height:90px;">Back to Top</a>
            </p>
            <p> CopyRight &copy;COVID Resources India!</p>
            <p> Corona Guidelines <a href="/home">Visit the homepage</a>.</p>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>





</body>

</html>