{% extends "layout.html" %}
{% block body %}



<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <div class="conatiner-fluid px-0">
  <link rel="stylesheet" href="./csss/style.css">

    <title>Covid Resources India</title>
</head>

<style>
  h1 {
    font-family: "Times New Roman", Times, serif;
  }



  H2 {
    font-family: "Times New Roman", Times, serif;
  }


  h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
  }

  .form-control {
    border-radius: 10px;
  }

  .text-white {
    color: white !important;
  }
</style>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>


<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COVID Resources India</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Resources</a>

        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/updates">Updates</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/plasma">Plasma</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>

      </ul>
      

      <div class="mx-2">

        <a class="btn btn-outline-warning my-2 my-sm-0 " type="submit" href="/home">Log Out </a><i class="fa fa-sign-in"
          aria-hidden="true"></i>
      </div>

    </div>

    </div>

  </nav>


  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li><a href="/map" class="nav-link px-2 link-dark">Map</a></li>
      <li><a href="/plasma" class="nav-link px-2 link-dark">Plasma Donation</a></li>
      <li><a href="/requestplasma" class="nav-link px-2 link-dark">Request Plasma</a></li>
      <li><a href="Vaccination.html" class="nav-link px-2 link-dark">Vaccination</a></li>
      <li><a href="Resources.html" class="nav-link px-2 link-dark">Resources</a></li>
      <li><a href="donate.html" class="nav-link px-2 link-dark">Donate</a></li>
    </ul>

    <div class="col-md-3 text-end">


    </div>
  </header>

  <div class="container">
    <div class="main-body grid-container fluid">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-2"></div>
        <div class="cell auto">
          <div class="">
            <h1>COVID-19 Convalescent Plasma Donation</h1>
            <hr>
          </div>

          <p>The Delhi government has launched the country’s first plasma bank. If you are a recovered Corona patient,
            come forward and donate your plasma. </p>



          <p>Your contribution may help save a life!</p>

        </div>
      </div>
    </div>
  </div>







  <div class="container">

    <main>

      <div class="p-4 mb-3 bg-light rounded-3">
        <div class="container-fluid py-4">
          <h1 class="display-4 fw-bold">What is Plasma ?</h1>
          <p class="col-md-10 fs-7">Plasma is the clear, straw-colored liquid portion of blood that remains after red
            blood cells, white blood cells, platelets and other cellular components are removed. It is the single
            largest component of human blood, comprising about 55 percent, and contains water, salts, enzymes,
            antibodies and other proteins.</p>

        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Why Donate ?</h2>
            <p>Quite simply, plasma donors are needed because lives depend on plasma protein therapies. Donating plasma
              is often called, "the gift of life."</p>
            <button class="btn btn-outline-light" type="button">Read More</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Plasma Protien Therapies</h2>
            <p>Plasma protein therapies (PPTs) treat a variety of medical conditions. Many of these are rare, chronic
              and often genetic conditions that are life threatening.</p>
            <button class="btn btn-outline-secondary" type="button">Read More</button>
          </div>
        </div>
      </div>



  </div>
  </main>
  </div>


  <br>
  <br>

  <div class="container">

    <h2>Register to Donate Plasma</h2>
    <br>
    <div class="card"></div>
      <div class="card-body">
        <form action="" class="row g-3 needs-validation" novalidate  method = "POST">
          <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationTooltip01" name ="fname" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationTooltip02" name = "lname" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>

  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Age</label>
    <div class="input-group">
     
      <input type="text" class="form-control" id="validationDefaultUsername" name ="age" min="18" max="45"  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>



          <div class="form-group col-md-4 position-relative ">
            <label for="inputState">Sex</label>
            <select id="inputState" class="form-control" name = "sex">
              <option selected>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>




          <div class="form-group col-md-4">
            <label for="inputBloodgroup">Blood Group</label>
            <select id="inputBloodgroup" class="form-control" name = "bg">

              <option selected>A+</option>
              <option>A-</option>
              <option>B+</option>
              <option>B-</option>
              <option>O+</option>
              <option>O-</option>
              <option>AB+</option>
              <option>AB-</option>
              <option>Don't Know</option>
            </select>
          </div>





          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" name = "state">

              <option selected disabled value="">Delhi</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chattisgarh</option>
              <option>Goa</option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Karnataka</option>
              <option>Kerala</option>
              <option>Maharashtra</option>
              <option>Manipur</option>
              <option>Odisha</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Tamil Nadu</option>
              <option>Telegana</option>
              <option>Tripura</option>
              <option>Uttar Pradesh</option>
              <option>Uttrakhand</option>
            </select>
          </div>










          <div class="container my-3 "></div>
          <div class="col-12">
            <button class="btn btn-primary " type="submit">Submit form</button>
          </div>

        </form>
      </div>
    </div>






    <div class="container">


      <div class="container mb-4">
        <br>
        <h1> Donor Eligibility </h1>
        <div class="uk-panel uk-margin-remove-first-child uk-margin">

          <div class="uk-child-width-expand uk-flex-middle" uk-grid="">
            <div class="uk-width-auto@m"><img class="el-image" alt=""
                data-src="/templates/yootheme/cache/Who-can-donate_English-b18b9c84.png"
                data-srcset="/templates/yootheme/cache/Who-can-donate_English-b18b9c84.png 350w, /templates/yootheme/cache/Who-can-donate_English-627f2475.png 600w"
                data-sizes="(min-width: 350px) 350px" data-width="350" data-height="350" uk-img=""></div>
            <div class="uk-margin-remove-first-child">








              <div class="el-content uk-panel uk-margin-top">
                <p>Donor safety, as well as the safety of the therapies made from plasma donations is of primary
                  importance. You will need to <strong><a href="/donation/find-a-donor-center">visit a plasma collection
                      center</a></strong> to determine if you are eligible to donate.<br>In general:</p>
                <ul>
                  <li>Plasma donors should be at least 18 years old</li>
                  <li>Plasma donors should weigh at least 110 pounds or 50 kilograms</li>
                  <li>Must pass a medical examination</li>
                  <li>Complete an extensive medical history screening</li>
                  <li>Test non-reactive for transmissible viruses including hepatitis and HIV</li>
                  <li>Follow a recommended diet including 50 to 80 grams of daily protein</li>
                </ul>
              </div>



            </div>
          </div>


        </div>
        <div class="uk-panel uk-margin">
          <p>Before donating plasma it is important to:</p>
          <ul>
            <li>Drink plenty of water or juice to be fully hydrated</li>
            <li>Notify center personnel if you have had recent surgery</li>
            <li>Notify center personnel if you have obtained a tattoo or piercing within the past 12 months</li>
            <li>Notify center personnel if you are taking medication or are under a doctor's care for any medical
              condition</li>
          </ul>
          <p>Because the need for plasma is so great, we are looking for committed donors. It is only after two
            satisfactory health screenings and negative test results within six months that you may receive Qualified
            Donor status. Until you have met this requirement, your plasma will not be used to manufacture therapies.
            This
            is important to help ensure the quality and safety of the therapies that patients need to treat
            life-threatening diseases.</p>
          <p><strong>Donor Eligibility is at the sole discretion of the plasma collection facility.</strong></p>
        </div>




      </div>
    </div>
  </div>
  </div>







  </div>
  </div>
  </div>












  <div class="container my-3">
    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Source Plasma</h5>
        <p class="card-text">Source plasma is collected through a process called plasmapheresis. In more than 900
          specialized donation centers located in the U.S. and Europe, individuals may donate plasma. Plasmapheresis is
          a sterile, self-contained, automated process that separates plasma from red blood cells and other cellular
          components which are then returned to the donor..</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
      <div class="card-footer text-muted">
        1 days ago
      </div>
    </div>

  </div>


  <div class="container">
    <div class="main-body grid-container fluid">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-2"></div>
        <div class="cell auto">
          <div class="">




            <p><strong>How will Delhi government facilitate donors</strong>?</p>



            <ol>
              <li>We will arrange for your transport to the ILBS Hospital in Vasant Kunj, or reimburse your travel
                cost.&nbsp;</li>
              <li>If you have not yet been tested negative after being tested positive for Covid initially, we will
                arrange for you to be tested.</li>
              <li>We will provide refreshments during your visit to the Plasma Bank.</li>
              <li>You will receive a Plasma Donor Certificate signed by the Hon’ble Chief Minister, Delhi.</li>
            </ol>



            <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>












            <div class="container">
              <div class="card-group">
                <div class="card">
                  <img src="https://source.unsplash.com/800x400/?plasma donation" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Covid-19 Toolkits</h5>
                    <p class="card-text">Fact sheets and tweets for patients and health care professionals in English
                      and Spanish.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="https://source.unsplash.com/800x400/?blood,donation" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Donate</h5>
                    <p class="card-text">Blood is needed every day to provide lifesaving treatments to a variety of
                      patients. .</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="https://source.unsplash.com/800x400/?plasma,covid" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Innovation to Respond to Covid-19</h5>
                    <p class="card-text">The FDA is partnering with the Critical Path Institute (C-Path) and the
                      National Center for Advancing Translational Sciences (NCATS).</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






</body>

</html>
{% endblock %}
