{% extends "layout.html" %}
{% block body %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <div class="conatiner-fluid px-0">

    <title>Covid Resources India</title>
</head>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>




<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COVID Resources India</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Resources</a>

        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/updates">Updates</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/plasma">Plasma</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>

      </ul>


      <div class="mx-2">

        <a class="btn btn-outline-warning my-2 my-sm-0 " type="submit" href="/home">Log Out </a><i class="fa fa-sign-in"
          aria-hidden="true"></i>
      </div>




    </div>



    </div>

  </nav>
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li><a href="/map" class="nav-link px-2 link-dark">Map</a></li>
      <li><a href="/plasma" class="nav-link px-2 link-dark">Plasma Donation</a></li>
      <li><a href="/requestplasma" class="nav-link px-2 link-dark">Request Plasma</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Vaccination</a></li>
      <li><a href="/donate" class="nav-link px-2 link-dark">Donate</a></li>
    </ul>

    <div class="col-md-3 text-end">


    </div>
  </header>



  <div class="container">
    <div class="main-body grid-container fluid">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-2"></div>
        <div class="cell auto">
          <div class="">
            <h1>COVID-19 Convalescent Plasma Request Form</h1>
            <hr>
          </div>

          <p>The Delhi government has launched the country’s first plasma bank. If you are a family member or caretaker
            of Covid-19 patient who needs/has been prescribed Plasma, then please use the form below to request for
            plasma</p>



          <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>

          <div class="container my-3">
            <main>
              <div class="album py-5 bg-light">
                <div class="container">

                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                      <div class="card shadow-sm">
                        <img id="bd-placeholder-img card-img-top"
                          src="https://source.unsplash.com/1600x900/?covid,plasma" alt="">
                        <div class="card-body">
                          <p class="card-text">Raise global awareness about source plasma collection <br>Recognize the
                            contributions of plasma donors to saving and improving lives.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/1600x900/?covid19" alt="">
                        <div class="card-body">
                          <p class="card-text"> Donating plasma takes time and commitment. To help ensure a safe and
                            adequate supply of plasma, donors are provided with a modest stipend to recognize the
                            substantial commitment of personal time and travel required to be a plasma donor. .</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img id=" " src="https://source.unsplash.com/1600x900/?plasma" alt="">
                        <div class="card-body">
                          <p class="card-text">Mark your calendars! The 2021 International Plasma Awareness Week (IPAW)
                            will be held October 4-8.
                            .</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
            </main>
          </div>


          <div class="wp-block-columns">
            <div class="wp-block-column">
              <h3>You CAN request plasma if:</h3>



              <ol>
                <li>A patient positive for COVID-19 has been prescribed for Plasma by the attending doctor, patient may
                  be of any age group</li>
                <li>You already have a replacement donor or not &#8211; if you have a donor then we will facilitate
                  their donation of Plasma</li>
              </ol>
            </div>



            <div class="wp-block-column">
              <h4><strong>How will the Delhi government facilitate Plasma for recipients</strong>​?</h4>



              <ol>
                <li>We will match the plasma required based on donor’s blood group with that required for the recipient
                  (patient)</li>
                <li>We will arrange for Plasma for the patient from the nearest Delhi Government Authorized Plasma Bank
                </li>
                <li>We will inform you when and where to go collect the same</li>
                <li>We will facilitate the Plasma donation for the replacement donor whom you have identified (if any)
                </li>
              </ol>



              <p></p>
            </div>
          </div>
        </div>



        <br>
        <div calss="my-3">
          <h2>Plasma Request Form</h2>
        </div>
        <br>

        <div class="container">
          <div class="card">
          <div class="card-body">
            <form action="" class="row g-3 needs-validation" novalidate  method = "POST">
              <div class="col-md-4 position-relative">
                <label for="validationTooltip01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationTooltip01" name ="fname" value="" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 position-relative">
                <label for="validationTooltip02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationTooltip02" name = "lname" value="" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
    
              <div class="col-md-4 position-relative ">
                <label for="validationTooltip02" class="form-label">Age</label>
                <input type="text" class="form-control" id="validationTooltip02" name = "age" value="" required>
                <div class="valid-tooltip">
    
                </div>
              </div>
    
    
    
              <div class="form-group col-md-4 position-relative ">
                <label for="inputState">Sex</label>
                <select id="inputState" class="form-control" name = "sex">
                  <option selected>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
    
              <div class="form-group col-md-8">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="inputAddress"  name = "address" placeholder="Address">
              </div>
    
    
              <div class="form-group col-md-4">
                <label for="inputBloodgroup">Blood Group</label>
                <select id="inputBloodgroup" class="form-control" name = "bg">
    
                  <option selected>A+</option>
                  <option>A-</option>
                  <option>B+</option>
                  <option>B-</option>
                  <option>O+</option>
                  <option>O-</option>
                  <option>AB+</option>
                  <option>AB-</option>
                  <option>Don't Know</option>
                </select>
              </div>
    
    
    
    
    
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control" name = "state">
    
                  <option selected disabled value="">Delhi</option>
                  <option>Assam</option>
                  <option>Bihar</option>
                  <option>Chattisgarh</option>
                  <option>Goa</option>
                  <option>Gujarat</option>
                  <option>Haryana</option>
                  <option>Karnataka</option>
                  <option>Kerala</option>
                  <option>Maharashtra</option>
                  <option>Manipur</option>
                  <option>Odisha</option>
                  <option>Punjab</option>
                  <option>Rajasthan</option>
                  <option>Tamil Nadu</option>
                  <option>Telegana</option>
                  <option>Tripura</option>
                  <option>Uttar Pradesh</option>
                  <option>Uttrakhand</option>
                </select>
              </div>
    
  
              <div class="form-group col-md-4">
                <label>Date of Positive Covid Test </label>
                    
                      <input type="date" 
                        name="dcp" value="" class="form-control" min="2020-03-01" max="2021-06-15"
                        aria-required="true" aria-invalid="false"> 
              </div>

    
              <div class="container my-1 "></div>
              <div class="col-6">
                <button class="btn btn-primary " text-center type="submit">Submit form</button>
              </div>
    
            </form>
          </div>
        </div>
      </div>
    
      <hr class="featurette-divider">

    <div class="row featurette">

      <h3 class = "text-center"> Donors</h3>
     
      <link rel="stylesheet" href="/static/styles.css" />     
      <table class = "table">
        <tr class = "table_header">
       {% for header in headings %}
       <th class = "table_cell"> {{ header}}</th>
       {% endfor %}
        </tr>
        
        {% for row in data %}
        <tr class = "table_row">
          {% for cell in row %}
          <td class = "table_cell">{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        
      </table>

      <hr class="featurette-divider">

      <div class="row featurette">

                <div class="wp-block-column"></div>
              </div>
            </div>

          </div>
        </div>


        <div class="container my-4">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link active"
                    href="https://www.redcrossblood.org/donate-blood/dlp/plasma-information.html">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="https://www.redcrossblood.org/donate-blood/dlp/plasma-information.html">Link</a>
                </li>

              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">Schedule an AB plasma Donation now </h5>
              <p class="card-text">AB plasma can be given to patients of any blood type. However, type AB blood is
                rare in the United States – only about 4% of us have it.</p>
              <a href="https://www.redcrossblood.org/donate-blood/dlp/plasma-information.html"
                class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>
</body>

</html>



{% endblock %}